name: proyecto_final_aplicaciones
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.1.0
  geolocator: ^10.0.1
  image_picker: ^1.0.7
  http: ^1.1.0
  file_picker: ^6.1.10

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true